/* Reset básico */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Arial, sans-serif;
}

/* Contenedor principal */
.container {
    width: 90%;
    max-width: 385px;
    padding: 20px;
    margin-top: 70px;

}

/* Flecha de regreso */
.back-arrow {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 24px; /* Ajusta según el tamaño de tu SVG */
    height: 24px;
    margin-top: 15px;
    background: url('/img/arrow.svg') no-repeat center;
    background-size: contain;
    text-decoration: none;
    display: block;
}

/* Título */
.title {
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}


/* Formulario */
.register-form {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* Inputs y Select con estilo de línea inferior */
.register-form input{
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #5f5f5f;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
}

/* Sección de cambio de contraseña */
.password-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password-header h2 {
    font-size: 16px;
    margin: 0;
}

#togglePassword {
    background: #5e5a6f;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#togglePassword:hover {
    background: #444056;
}

/* Botón de guardar cambios */
#saveChanges {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #978da2;
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
    cursor: not-allowed;
    opacity: 0.5;
}

#saveChanges.enabled {
    cursor: pointer;
    opacity: 1;
    background-color: #5e5a6f;
}

/* Ajuste responsivo */
@media only screen and (max-width: 390px) {
    .container {
        width: 95%;
    }

    .title {
        font-size: 22px;
    }

    input {
        font-size: 14px;
    }

    #togglePassword, #saveChanges {
        font-size: 14px;
    }
}
