/* Reset básico */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Contenedor principal */
.form-container {
    width: 90%;
    max-width: 385px;
    height: 100%;
    max-height: 100%;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-top: 200px;
}

/* Flecha de regreso */
.back-arrow {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 24px; /* Ajusta según el tamaño de tu SVG */
    height: 24px;
    margin-top: 15px;
    background: url('/img/arrow.svg') no-repeat center;
    background-size: contain;
    text-decoration: none;
    display: block;
}

/* Ícono de entrada */
.input-icon {
    width: 40px;
    height: auto;
    margin: 0 10px;
    color: #000000;
}

/* Grupo de entrada */
.input-group {
    width: 100%;
    margin-bottom: 90px;
}

/* Etiqueta del input */
.input-label {
    display: block;
    font-size: 80px;
    color: #333333;
    margin-bottom: 10px;
}

/* Línea de entrada */
.input-line {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
    margin: 200px 50px 0 50px;
}

/* Input */
.input-line input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px 0;
    background-color: transparent;
}

/* Grupo de botones */
.input {
    width: 40%;
    margin-top: 50px;
    justify-content: center;
}

/* Botón de recuperación */
.BotonVerificar {
    width: 80%; /* Ancho responsivo */
    max-width: 250px; /* Límite de ancho */
    padding: 12px; /* Espaciado similar al otro botón */
    font-size: 18px;
    font-weight: 100;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #8E46E5;
    color: #000000;
    margin: 20px auto 0 auto; /* Centrarlo */
    display: block;
}

.BotonVerificar:hover {
    background-color: #A860FF;
}

.Contrasena {
    font-size: 20px;
    color: #333333;
    margin-top: 10px;
    text-align: center;
    display: block; /* Asegura que se comporte como un bloque */
    width: 100%; /* Ocupa todo el ancho disponible */
}
